<html>
<head>

</head>
<body>
  <p1>In 1993, the US leads a coalition of countries to return Haitian
  President Aristide to power following a coup.</p1>
  <div>
  <p2>Predicted Outcome: The military junta yields to the international coalition.*</p2>
</div>
<div>
  <p3>Outcome: Aristide is returned to power following international pressure.</p3>
</div>

  <img src="/static/images/Haiti.jpg"/>


  <div>
  <p4>*Due to the large number of partners in the international coalition, not every
  predicted outcome was the same. </p4>
</div>
</body>
</html>
